*{
    margin:10px 5px;
}
:root{
    --width:80%;
    --height:50px

}
.parent{
    background: #ddd;
    width:var(--width) ;
    height: 500px;
    overflow:hidden;
}

h1{
    background:navy;
    width:100%;
    height: 50px;
    padding:5px  ;
    text-align: center;

}
.main{
display: grid;
grid-template-columns:auto auto auto;
/*column-gap: 0px;
row-gap:0px;*/
grid-auto-rows: minmax( 100px auto);

}
.main .child{
    background: tomato;
   margin-right: 5px;
    text-align: center;
   margin-bottom: 5px;
    padding: 5px 10px;
    
}
.child:nth-child(1){
    grid-column-start: 1 ;
    grid-column-end: 3;
}
.child:nth-child(6){
  /*  grid-column-start: 4 ;
    grid-column-end:5;*/
   
}